### Maven / Spring Boot ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.springBeans
.sts4-cache
.factorypath
.apt_generated

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Env & Secrets ###
.env
*.env
application-local.properties
